/* You can add global styles to this file, and also import other style files */
.app-logo {
    height: 150px; /* Tamanio*/
    width: auto; /* Vista */
    position: relative ;
  }

  .app-header {
    background-color: black; /* Fondo negro */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente (cambia a 'end' si solo se quiere alinear abajo) */
  }

  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}